<div class="character-menu">
    <a href="{{ path('character_killboard') }}">
        <div class="btn btn-light menu-button">
            <span><img src="{{ asset('images/killmail.png') }}" alt="killmails"/></span>
            <span>Killboard</span>
        </div>
    </a>

    <div class="btn btn-light menu-button">
        <span><img src="{{ asset('images/skill.png') }}" alt="skill queue"/></span>
        <span>Skill queue</span>
    </div>

    <div class="btn btn-light menu-button">
        <span><img src="{{ asset('images/industry.png') }}" alt="industry jobs"/></span>
        <span>Industry jobs</span>
    </div>

    <div class="btn btn-light menu-button">
        <span><img src="{{ asset('images/pi.png') }}" alt="planetary interaction"/></span>
        <span>Planetary Interaction</span>
    </div>

    <div class="btn btn-light menu-button">
        <span><img src="{{ asset('images/mining.png') }}" alt="mining ledger"/></span>
        <span>Mining Ledger</span>
    </div>

    <div class="btn btn-light menu-button">
        <span><img src="{{ asset('images/mail.png') }}" alt="mails"/></span>
        <span>Mailbox</span>
    </div>

    <div class="btn btn-light menu-button">
        <span><img src="{{ asset('images/wallet.png') }}" alt="wallet transactions"/></span>
        <span>Wallet transactions</span>
    </div>
</div>