{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container">
        <div class="row has-background">
            <div class="col-8 col-sm-3 sidebar">
                <span class="character-image"><img src="https://imageserver.eveonline.com/Character/{{ character.eveId }}_256.jpg" alt="character image"/></span>

                <div class="row">
                    <div class="col-6 col-sm-6">
                        <span class="corporation-image"><img src="https://imageserver.eveonline.com/Corporation/{{ character.corporation.eveId }}_128.png" alt="corporation image"/></span>
                    </div>
                    <div class="col-6 col-sm-6">
                        {%  if character.corporation.alliance %}
                            <span class="alliance-image"><img src="https://imageserver.eveonline.com/Alliance/{{ character.corporation.alliance.eveId }}_128.png" alt="alliance image"/></span>
                        {% endif %}
                    </div>
                </div>

                <div class="mt-3 text-center">
                    {% if corporationConfigured %}
                        {#<div class="btn btn-light menu-button-static">#}
                            {#<span><img src="{{ asset('images/bulletin.png') }}" alt="corporation bulletin"/></span>#}
                            {#<span>Corporation bulletin</span>#}
                        {#</div>#}

                        <div class="btn btn-light menu-button-static" data-toggle="modal" data-target="#discordAuthModal">
                            <span><img src="{{ asset('images/discord_icon.png') }}" alt="Get Discord roles command"/></span>
                            <span>Assign Discord roles</span>
                        </div>
                    {% endif %}

                    <a href="{{ path('app_logout') }}">
                        <div class="btn btn-light menu-button-static">
                            <span><img src="{{ asset('images/logout.png') }}" alt="logout"/></span>
                            <span>Logout</span>
                        </div>
                    </a>

                </div>
            </div>
            <div class="col-4 col-sm-9 character-content">
                <div>
                    {%  if isAllowedToEditTheBulletin %}
                        <div class="btn btn-light menu-button corporation-bulletin-edit-button">
                            <span><img src="{{ asset('images/edit.png') }}" alt="skill queue"/></span>
                            <span>Edit bulletin</span>
                        </div>

                        <div class="btn btn-light menu-button corporation-bulletin-cancel-button">
                            <span><img src="{{ asset('images/edit.png') }}" alt="skill queue"/></span>
                            <span>Cancel editing</span>
                        </div>
                    {% endif %}

                    <div class="character-info">
                        <h3>{{ character.name }}</h3>
                        <strong>{{ character.corporation.name }}</strong>
                        {%  if character.corporation.alliance %}
                            / {{ character.corporation.alliance.name }}
                        {% endif %}
                    </div>

                    {#{% include 'elements/menu_actions.html.twig' %}#}

                    {% block content %}
                    {% endblock %}

                    <hr />

                    <div class="corporation-bulletin">
                        {%  if isAllowedToEditTheBulletin %}
                            <div id="bulletin-edit-editor">
                                <div class="tip">
                                    See <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">here</a> for a guide on how to write MarkDown.
                                    <br /><br />

                                    Size images by adding <code>width100%</code>, <code>75</code>, <code>50</code> or <code>25</code>.<br />
                                    e.g. <code>![width100%](http://imageurl "title text")</code>
                                </div>

                                <div class="bulletin-edit-save">
                                    <button type="button" id="bulletin-save-button" class="btn btn-success"
                                            data-target="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl }}{{ path('corporation_bulletin') }}">
                                        Save bulletin
                                    </button>
                                </div>

                                <textarea id="bulletin-edit">{{ corporationBulletinRaw }}</textarea>
                            </div>
                            <div class="bulletin-edit-save">
                                <button type="button" class="btn btn-success">Save bulletin</button>
                            </div>
                        {% endif %}

                        <div class="bulletin-content">
                            {%  if corporationBulletin %}
                                {{ corporationBulletin|raw }}
                            {% else %}
                                There is currently no additional data available :)
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>

        {%  if corporationConfigured %}
            {% include 'elements/discord_token_modal.html.twig' %}
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script src="{{ asset('scripts/discord_modal.js') }}"></script>
    <script src="{{ asset('scripts/bulletin.js') }}"></script>
{% endblock %}
